*{
    padding: 0;
    margin: 0;
    
  }
  
  .navbar{
    padding: 1rem;
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(144, 199, 247, 0.3);
  }
  
  .navbar .elements{
    align-items: space-between;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  
  .logo-ele{
    width: 170px;
  }
  
  .list{
    text-decoration: none;
    margin: 0.5rem;
  }
  
  .list :hover{
    background-color: rgb(64, 123, 225);
  }
  
  .list-ele{ 
    margin: 1rem 0 0 0;
    font-size: 20px;
    color: black;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .foot{
    height: 20px;
    padding: 0.5rem;
    font-size: 20px;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: rgb(58, 17, 244);
    color: white;
    text-align: center;
  }
  .navbar{
    button{
        width: 150px;
        margin: 0.5rem 0 0 0;
        padding: 0.5rem;
        font-size: 25px;
        border-radius: 10px;
        background-color: rgb(80, 99, 242);
    }
  }

  .details, .bills{
    height: 400px;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-image: url("../imgs/banner_bg.png");
    .left{
        width: 50%;
        padding: 5rem;
        margin: 5rem 0 0 0;
        h1{
            font-size: 50px;
            padding: 0.5rem 0rem;
        }
        p{
            text-align: justify;
            font-size: 20px;
        }
        .login{
          height: 70px;
          border-radius: 10px;
          button{
              width: 150px;
              margin: 15px 0 0 0;
              padding: 0.5rem;
              font-size: 25px;
              border-radius: 10px;
              background-color: rgba(43, 143, 230, 0.3);
          }
          :hover{
              background-color: rgb(7, 82, 245);
          }
      }
    }
    .right{
        height: inherit;
        align-content: center;
        align-items: center;
        width: 50%;
        img{
            height: inherit;
            width: 500px;
        }
    }
}

.procedures, .review{
  height: 400px;
  padding: 6rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  background-image: url("../imgs/about_bg.png");
  .left{
      height: inherit;
      align-content: center;
      align-items: center;
      width: 50%;
      img{
          height: inherit;
          width: 500px;
      }
  }
  .right{
      width: 50%;
      padding: 5rem;
      h1{
          font-size: 50px;
          padding: 0.5rem 0rem;
      }
      p{
          text-align: justify;
          font-size: 20px;
      }
  }

  .p-review{
      align-content: flex-end;
      padding: 10px;
      height: 260px;
      width: 580px;
      border-radius: 10px;
      border-style: solid;
      font-size: 20px;
  }
  .submit{
      :hover{
        background-color: rgb(7, 82, 245);
      }
      button{
        width: 150px;
        margin: 15px 0 0 0;
        padding: 0.5rem;
        font-size: 25px;
        border-radius: 10px;
        background-color: rgba(43, 143, 230, 0.3);
      }
  }
}