*{
    padding: 0;
    margin: 0;
    
  }
  
  .navbar{
    padding: 1rem;
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(144, 199, 247, 0.3);
  }
  
  .navbar .elements{
    align-items: space-between;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  
  .logo-ele{
    width: 170px;
  }
  
  .list{
    text-decoration: none;
    margin: 0.5rem;
  }
  
  .list :hover{
    background-color: rgb(64, 123, 225);
  }
  
  .list-ele{ 
    font-size: 20px;
    color: black;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .foot{
    height: 20px;
    padding: 0.5rem;
    font-size: 20px;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: rgb(58, 17, 244);
    color: white;
    text-align: center;
  }

  .banner{
      text-align: center;
      font-size: 40px;
      width: auto;
      .ban-img{
          width: 100%;
          height: 350px;
      }
      .bread{
        position: absolute;
        top: 25%;
        left: 35%;
        color: white;
      }
  }

  .row{
    background-image: url(../imgs/about_bg.png);
    padding: 3rem 10rem 10rem 10rem;
    .subrow1{
        height: 50%;
        display: flex;
        flex-direction: row;
        text-align: center;
        :hover{
          background-color: rgb(51, 94, 235);
          border-radius: 10px;
          color: white;
        }
        .subcol1{
            background-color: rgba(149, 206, 244, 0.1);
            border-style: ridge;
            border-radius: 10px;
            border-width: 3px;
            margin: 1rem 2rem;
            height: inherit;
            width: 50%;
            .heading{
              font-size: 28px;
              padding: 10px;
          }
          .desc{
              font-size: 18px;
              padding: 10px;
          }
        }
      }
    .subrow2{
        height: 50%;
        display: flex;
        flex-direction: row;
        text-align: center;
        :hover{
          background-color: rgb(51, 94, 235);
          color: white;
          border-radius: 10px;
        }
        .subcol2{
            background-color: rgba(149, 206, 244, 0.1);
            //padding: 0.5rem 1rem;
            border-style: ridge;
            border-width: 3px;
            margin: 1rem 2rem;
            height: inherit;
            width: 50%;
            border-radius: 10px;
            .heading{
              font-size: 28px;
              padding: 10px;
          }
          .desc{
              font-size: 18px;
              padding: 10px;
          }
        }
    }
  }
