* {
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 1rem;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(144, 199, 247, 0.3);
}

.navbar .elements {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.logo-ele {
  width: 170px;
}

.list {
  text-decoration: none;
  margin: 0.5rem;
}

.list :hover {
  background-color: #407be1;
}

.list-ele {
  margin: 1rem 0 0 0;
  font-size: 20px;
  color: black;
  padding: 1rem;
  border-radius: 10px;
}

.patient-name {
  font-size: 20px;
  color: black;
}

.foot {
  height: 20px;
  padding: 0.5rem;
  font-size: 20px;
  left: 0;
  bottom: 0;
  width: auto;
  background-color: #3a11f4;
  color: white;
  text-align: center;
}

.navbar button {
  width: 150px;
  margin: 0.5rem 0 0 0;
  padding: 0.5rem;
  font-size: 25px;
  border-radius: 10px;
  background-color: #5063f2;
}

.details, .bills {
  height: 400px;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../imgs/banner_bg.png");
}

.details .left, .bills .left {
  width: 50%;
  padding: 5rem;
  margin: 5rem 0 0 0;
}

.details .left h1, .bills .left h1 {
  font-size: 50px;
  padding: 0.5rem 0rem;
}

.details .left p, .bills .left p {
  text-align: justify;
  font-size: 20px;
}

.details .left .login, .bills .left .login {
  height: 70px;
  border-radius: 10px;
}

.details .left .login button, .bills .left .login button {
  width: 150px;
  margin: 15px 0 0 0;
  padding: 0.5rem;
  font-size: 25px;
  border-radius: 10px;
  background-color: rgba(43, 143, 230, 0.3);
}

.details .left .login :hover, .bills .left .login :hover {
  background-color: #0752f5;
}

.details .right, .bills .right {
  height: inherit;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.details .right img, .bills .right img {
  height: inherit;
  width: 500px;
}

.procedures, .review {
  height: 400px;
  padding: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../imgs/about_bg.png");
}

.procedures .left, .review .left {
  height: inherit;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.procedures .left img, .review .left img {
  height: inherit;
  width: 500px;
}

.procedures .right, .review .right {
  width: 50%;
  padding: 5rem;
}

.procedures .right h1, .review .right h1 {
  font-size: 50px;
  padding: 0.5rem 0rem;
}

.procedures .right p, .review .right p {
  text-align: justify;
  font-size: 20px;
}

.procedures .p-review, .review .p-review {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding: 10px;
  height: 260px;
  width: 580px;
  border-radius: 10px;
  border-style: solid;
  font-size: 20px;
}

.procedures .submit :hover, .review .submit :hover {
  background-color: #0752f5;
}

.procedures .submit button, .review .submit button {
  width: 150px;
  margin: 15px 0 0 0;
  padding: 0.5rem;
  font-size: 25px;
  border-radius: 10px;
  background-color: rgba(43, 143, 230, 0.3);
}
/*# sourceMappingURL=patient.css.map */